/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-5-23, 15:11:02
    Author     : E2-WANGJS-M
*/

/*<style type="text/css">
            h1 {color: #000090}
            p  {color: #006400 }
        </style>*/
h1 {color: #00bfff;}
p  {
    color: #8B008B;
    font-size: 32px;
}
h2,h3,h4 {
    color: #adff2f;
}